.career-page-container {
}
.career-page-jumbotron {
  width: 100vw;
  height: 400px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.career-page-jumbotron-header {
  font-size: 70px;
  font-family: 'Staatliches', cursive;
}
.career-page-jumbotron-breadcrumbs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.career-page-jumbotron-breadcrumbs-inactive {
  font-size: 20px;
  font-family: 'Staatliches', cursive;
  color: rgb(255, 255, 255);
}
.career-page-jumbotron-breadcrumbs-active {
  font-size: 20px;
  font-family: 'Staatliches', cursive;
}
